@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #F7F2EB; */
}

/* -------------------------- TOP PART (DOG PIC) -------------------------- */

.top {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(Images/DogPage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 375px;
    padding-left: 50px;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    color: #081F5C;
}

.top-text h1 {
    font-weight: bolder;
    font-size: 6em;
}

.pronounciation {
    padding-top: 5px;
    font-weight: lighter;
    font-size: 3em;
}

.noun {
    font-size: 3em;
    padding-top: 2px;
    color: #808080;
    font-style: italic;
}

.definition {
    font-size: 1.5em;
    padding-top: 5px;
    font-weight: lighter;
}

/* -------------------------- CARD SECTION -------------------------- */

.button-section {
    background-color: #F7F2EB;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button-section input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: #081F5C;
    border-radius: 30px;
    font-size: 17px;
    height: 40px;
    width: 300px;
  }
  
@media screen and (max-width: 600px) {
.button-section input[type=text] {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
    width: 150px;
    font-size: 10px;
    border: none;
}

.button-section input[type=text] {
    border: 1px solid #ccc;  
}
}

.bottom {
    width: 100vw;
    height: auto;
    background-color: #F7F2EB;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
    background-color: #F7F2EB;
}

.card {
    width: 325px;
    background-color: #282b26;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.card img {
    width: 100%;
    height: 210px;
}

.card:hover img{
    transform: scale(.97);
}

.card-content {
    padding: 16px;
    color: #F5F5F5;
}

.card-content h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.card-content:hover h2{
    color: #919191;
}

.card-content h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

.card-content .btn {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-top: 4px;
    color: #F5F5F5;
    text-decoration: none;
}

/* -------------------------- POP UP SECTION -------------------------- */

/* Puts modal in middle of screen. */
.modalTwo {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-evenly;
  
}

/* Puts contents of modal centered at the top. */
.modal-content {
    background-color: #282b26;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 850px;
    height: 500px;
}

.modal-image {
    height: 200px;
    width: 150px;
    object-fit: fill;
    overflow: hidden;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 2em;
}

.modal-header h3{
    padding-right: 10px;
}

.modal-text {
    padding-top: 50px;
}

.close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0,5);
    z-index: -1;
    pointer-events: none;
} 

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
